/*------------------------------------------------*/
/* TYPOGRAPHY
/*------------------------------------------------*/

h1 { font-size: $h1-fontsize; font-weight: 400; margin: 0 0 30px 0; padding: 0; }
h2 { font-size: $h2-fontsize; color: $nevada; margin: 8px 0 0 0; padding: 0; }
h3 { font-size: $h3-fontsize; font-weight: 600; margin: 14px 0 4px 0; padding: 0; }
h4 { font-size: $h4-fontsize; }
h5 { font-size: $h5-fontsize; }
h6 { font-size: $h6-fontsize; color: $shuttle-gray; font-weight: 600; text-transform: uppercase; padding: 20px 20px 5px 20px; margin: 0 0 5px 0; border-bottom: solid 1px $shuttle-gray; }

